body {
    color: white;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #004e92, #2875BA,#2875BA, #004e92);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #004e92, #2875BA,#2875BA, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.biased{
    font-weight: 700;
    display: inline;
    margin: 5px;

}

textarea {
    height: 250px;
    padding: 10px;
}
p{
    display:inline;
}


/* .biased:hover{
    background: white;
    color: black;
}
.biased:hover:after {
    content: attr(data-bias);
    padding: 4px 8px;
    color: black;
    background-color:white;
    position: absolute;
    left: 0px;
    top: -20px;
    z-index:100;
    border:1px black solid;
} */

.bias-5 {
    background: #E8ED32;
    color:black;
}

.bias-6 {
    background: #EDB232;
    color:black;
}

.bias-7 {
    background: #ED7232;
}

.bias-8 {
    background: #ED3232;
}

.bias-9, .bias-10 {
    background: #ED3292;
}

.para {
    display: inline;
}

.rc-slider-mark-text {
    color: white;
    font-size: 14px;
    font-weight: 500;

}


/* p.tooltip span {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 250px; 
    border: #000 1px solid;
    background: #F8F8F8;
    padding: 10px;
    z-index: 1000000;
    display: inline;
    opacity: 0;
    transition: 750ms all;
}
p.tooltip:hover span {
    outline: none;
    text-decoration: none;
    font-size: 70%;
    color: #000;

    opacity: 1;
} */

hr{
    margin: 20px 0 20px 0;
    color:white;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.rc-slider-handle, .rc-slider-dot-active, .rc-slider-handle:focus,
.rc-slider-handle:hover{
    border-color: #f68e5f;
}

.rc-slider-track{
    background-color: #f68e5f;
}

#output {
    max-width: 600px;
}

.break{
    display: block;
    height:20px;
}